
/*动效*/
.linear-out{
	transform: translateX(-300%);
	transition: transform 0.2s linear;
	opacity: 0;
}

footer{
	display: flex;
	justify-content: center;
}
footer a{
	color: #fb8732;
	font-weight: bold;
}