ol, ul{
	list-style: none;
	padding: 0;
}
a{
	/* text-decoration: none; */
}
input, p{
	padding: 0;
	margin: 0;
}

@keyframes fadein{
	0%{
		opacity: 0;
		background-color: #CDCDCD;
	}
	100%{
		opacity: 1;
		background-color: #CDCDCD;
	}
}
body{
	background: #CDCDCD;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	animation-name: fadein;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}